<!DOCTYPE html>

<html>
  <head>
    
    {% load dajaxice_templatetags %}
    {% dajaxice_js_import %}

    {% load staticfiles %}
    
    <link rel="stylesheet" type="text/css" href="{% static "main.css" %}">
    <script type=text/javascript src="{% static "d3.min.js" %}"> </script>
    <script type=text/javascript src="{% static "jquery-2.1.0.min.js" %}"> </script>

    <script type=text/javascript src="{% static "box.js" %}"> </script>

    <script type=text/javascript src="{% static "drawCommon.js" %}"> </script>
    <script type=text/javascript src="{% static "drawViewcount.js" %}"> </script>
    <script type=text/javascript src="{% static "drawTweet.js" %}"> </script>
    <script type=text/javascript src="{% static "drawBrush.js" %}"> </script>
    <script type=text/javascript src="{% static "drawFeatureScore.js" %}"> </script>

    <script type="text/javascript">

     var tweetLeftDate = new Date("2009-07-31");
     var tweetRightDate = new Date("2009-11-01");

      
     var initLeftDate;
     var initRightDate;

     var parseDate = d3.time.format("%Y-%m-%d").parse;

     var transitionDuration = 500;

     var brush;
     var brushGroup;
     var contextSvg;
     var contextArea;
     var contextCanvas;
     var contextSvg;
     var contextXScale;
     var contextAxis;

     var dateScale;
     var dateAxis;
     
     var viewcountSvg;
     var tweetSvg;

     var viewcountClip;
     var tweetClip;
     
     var viewcountCanvas;
     var tweetCanvas;

     var viewcountData;
     var tweetData;

     var viewcountScale;
     var tweetScale;

     var viewcountAxis;
     var tweetAxis;

     var viewcountLine;
     var tweetLine;


     var videoID;
     var videoIndex = 1;
     var uploadDate;
     
     var viewcountDots;

     var dotBound = 12; // hours
     var lastIndex = 1;
     var mouseDate;
     var mouseXPos;


     var featureScoreSvg;
     var featureScoreXScale;
     var featureScoreYScale;
     var featureScoreXAxis;
     var featureScoreYAxis;
     var featureScoreData;
     var featureScoreSorted = false;

     var tmp;
     
     var width = { viewcount:0,
		   tweet:0,
		   context:0,
		   featureScore:0
		   };
     
     var height = { viewcount:0,
		    tweet:0,
		    context:0,
		    featureScore:0		    
		    };
     
     var margin = { viewcount: {top: 30, right: 50, bottom: 10, left: 100},
		    tweet: {top: 10, right: 50, bottom: 30, left: 100},
		    context: {top: 10, right: 50, bottom: 10, left: 100},
		    featureScore: {top: 20, right: 10, bottom: 55, left: 40}
		    };



     window.onload = function()
     {
       
       Dajaxice.demo.get_videoInfo_index(
	 function(data)
	 {
	   initDateRange(data);
	   initDrawViewcount(data);
	   initDrawTweet(data);
	   initDrawBrush(data);	   
	 },
	 {'videoIndex': videoIndex});

       Dajaxice.demo.get_featureScore_index(
	 function(data)
	 {
	   initDrawFeatureScore(data['featureScore']);
	 },
	 {'videoIndex': videoIndex});
     };     
     


     onPress = function(event){
       if (event.charCode != 113 && event.charCode != 101)
       {
	 return;
       }

       if ($('#videoID').is(':focus') || $('#comment').is(':focus') || $('#currentIndex').is(':focus'))
       {
	 return;
       }
       
       if (event.charCode == 101)
       {
	 videoIndex += 1;
	 Dajaxice.demo.get_videoInfo_index(
	   function(data)
	   {
	     lastIndex = 0;
	     initDateRange(data);
	     onDrawViewcount(data);
	     onDrawTweet(data);
	     onDrawBrush(data);
	   },
	   {'videoIndex': videoIndex});

	 Dajaxice.demo.get_featureScore_index(
	 function(data)
	 {
	   onDrawFeatureScore(data['featureScore']);
	 },
	 {'videoIndex': videoIndex});
       }
       else
       {
	 if (videoIndex <= 1)
	 {
	   return;
	 }
	 videoIndex -= 1;
	 Dajaxice.demo.get_videoInfo_index(
	   function(data)
	   {
	     lastIndex = 0;	     
	     initDateRange(data);
	     onDrawViewcount(data);
	     onDrawTweet(data);
	     onDrawBrush(data);
	   },
	   {'videoIndex': videoIndex});

	 Dajaxice.demo.get_featureScore_index(
	 function(data)
	 {
	   onDrawFeatureScore(data['featureScore']);
	 },
	 {'videoIndex': videoIndex});
	 
       }
     }

     $(document).keypress(onPress);

     
    </script>
    
  </head>
  <body>

    <div id='title'>
      <h1> Demo Of Twitter-Driven Views of YouTube Video</h1>
    </div>

    
    <div id='panel'>
      <p> Current videoID: </p>
      <input type="sumbit" id="videoID" value="videoID" size="10">
      <hr>
      <p> Current Index: </p>
      <input type="text" id="videoIndex" value="0" size="10">
      <hr>
    </div>


    <div id='videoandtweet'>
      <div id='youtubevideoembed'>
	<object width="420" height="315"><param name="movie" value="//www.youtube.com/v/ez4DgdurRPg?hl=en_GB&amp;version=3"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube.com/v/ez4DgdurRPg?hl=en_GB&amp;version=3" type="application/x-shockwave-flash" width="420" height="315" allowscriptaccess="always" allowfullscreen="true"></embed></object>
      </div>
      <div style='height:50vh;width:20vw' id='divtweet'>
	<div id='divviewcounttitle'>
	  <p id='tweeton'> Tweets on  </p>
	</div>
	<div style='height:45vh;width:20vw' id='divtweetcontent'>
	</div>
      </div>
    </div>


    <div id='viewcounttweetfeature'>
      <div id='dviviewcount'>
	<svg style='height:20vh;width:50vw' id='viewcount' align='left'> </svg>
      </div>

      <div id='dvitweet'>
	<svg style='height:20vh;width:50vw' id='tweet' align='left'> </svg>
      </div>

      <div id='dvicontext'>
	<svg style='height:5vh;width:50vw' id='context' align='left'> </svg>
      </div>

    <div id='dvifeaturescore'>
      <svg style='height:40vh;width:25vw' id='featurescore' align='left'> </svg>
    </div>
    </div>

    
  </body>
</html>
